
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121212;
    height: auto;
    border-bottom: 2px solid var(--primary-color);
    transition-duration: var(--transition-time);
}

#logo {
    height: 24px;
    width: 24px;
    padding: 15px;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    opacity: 1;
}

#logo:hover {
    opacity: 0.8;
}

select:focus {
    outline: none;
}

#select {
    // background: linear-gradient(#1f1f1f7f,#1212127f,#1f1f1f7f);
    background: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #121212;
    height: 40px;
    font-size: 18px;
    text-align-last: center;
}
