<section id="about-me-wrapper">
  <app-block-heading titleName="About Me"></app-block-heading>
  <!-- <img src=".\assets\Page1\be488314-0fe5-49ec-a95f-5137cede7a71_PS-mod_NoBackground.png"> -->
  <section id="about-me-text">
    <h1>I AM</h1>
    <p>Enthusiastic, results-driven Systems Engineer with a passion for technology, automation
      and building a connected world.</p>
    <h1>I HAVE</h1>
    <p>Proven track record of successfully designing, deploying and validating multiple customer
      facing software features within the automotive space.</p>
    <h1>I CAN OFFER</h1>
    <p>Highly autonomous and dynamic; able to drive important decisions while simultaneously
      placing great emphasis on reinvesting learning to improve process and best practice.</p>
    <h1>YOU CAN OFFER</h1>
    <p>Looking for junior to mid-level front-end web development opportunites in order to leverage
      existing skillset and bring positive change to this exciting, forward-thinking industry.</p>
  </section>
</section>