<section id="experience-wrapper">
  <app-block-heading titleName="Experience">
  </app-block-heading>

  <div class="jobs-wrapper">
    <div *ngFor="let job of jobs; let i = index" 
         class="job-wrapper">
      <div class="job-title-wrapper">
        <h2 class="job-role">
          {{ job?.role }}
        </h2>
        <h4 class="job-project">
          {{ job?.project }}
        </h4>
        <h5 class="job-duration">
          {{ job?.startDate | date: 'MMM yy' }} - {{ job?.endDate | date: 'MMM yy' }}  ({{ job?.timeWorked }})
        </h5>
      </div>
      <div class="experience-items-wrapper">
        <app-experience-item *ngFor="let exp of experiencesByJobByRank[ i ] | slice:0:4" 
                             [experience]="exp">
        </app-experience-item>
      </div>
    </div>
  </div>
</section>
