:host {
    --page-margin: 40px;
}

#window {
    display: flex;
    height: auto;
    min-height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: #269;
    padding: 50px;
}

#page-border {
    display: flex;
    height: auto;
    width: 80%;
    background: linear-gradient(#286FE6, #6195ED);
    justify-content: center;
    align-items: center;
    padding: 8px;
}

@media screen and (min-width: 1000px) {
    #page {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "photo title"
        "aside main";
        grid-column-gap: var(--page-margin);
        grid-row-gap: 20px;
    }
}

#page {
    width: 100%;
    height: 100%;
    padding: var(--page-margin);
    background: white;
    font-family: 'Raleway', sans-serif;  
}


#photo {
    grid-area: photo;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photo-clip {
    clip-path: circle(125px at 125px 125px);
}

#title-container {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: space-around;
    flex-direction: column;
}

#title {
    font-size: 56px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#subtitle {
    font-size: 24px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#main-container {
    grid-area: main;
    display: inline-block;
}

#aside-container {
    grid-area: aside;
    display: inline-block;
}

#contact, #skills, #social {
    display: grid;
    grid-template-columns: 50px auto;
    grid-row-gap: 0px;
}

ul {
    padding-inline-start: 0px;
    font-size: 15px;
}

section > h2 {
    font-size: 24px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-justify: inter-character
}

i {
    color: #1a1a1a;
    align-self: center;
}