#wrapper {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "landing-page landing-page"
    "about-me about-me"
    "main main"
    "social social";
}

#header {
    grid-area: header;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#landing-page {
    grid-area: landing-page;
    height: calc(100vh - 54px);
    min-height: 800px;
    padding-top: 54px;
}

#about-me {
    grid-area: about-me;
}

#title-container {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: space-around;
    flex-direction: column;
    background: red;
}

#main-container {
    grid-area: main;
    display: inline-block;
}

#contact, #social, #tech-skills {
    display: grid;
    grid-template-columns: 50px auto;
    grid-row-gap: 0px;
    border: 1px solid black;
}

ul {
    padding-inline-start: 0px;
    font-size: 15px;
}

section > h2 {
    font-size: 24px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-justify: inter-character
}

i {
    color: #1a1a1a;
    align-self: center;
}