#heading-wrapper {
	position: relative;
}

#heading-title {
	position: absolute;
	margin-block-start: 0px;
	margin-block-end: 0px;
	font-size: 48px;
	color: #fff; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: calc(50% - 28px);
	// transform: translateY(-50%);
}

#heading-title::first-letter {
	color: var(--primary-color);
	transition-duration: var(--transition-time);
}

#heading-background {
	height: 160px;
	background-color: #0c0c0c;
	background-image: url('src/assets/Page1/checkered-pattern.png');
	background-repeat: repeat;
	border: 1px solid #0e0e0e;
}