<!-- <div> -->
  <svg 
    id="logo" 
    version="1.1" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    preserveAspectRatio="xMidYMid meet" 
    viewBox="0 0 375 375" 
    width="auto" 
    height="auto">
    <defs>
      <path 
        d="M159.6 125.2L186.2 153.87L333.73 46.88L333.98 0L159.6 125.2Z" 
        id="a7jz5jMx">
      </path>
      <path 
        d="M43.27 0.19L333.1 312.69L331.73 0.19L375 0.19L375 375.19L331.73 375.19L43.27 62.69L43.27 375.19L0 375.19L0 0.19L43.27 0.19Z" 
        id="cp1JrukwI">
      </path>
      <path 
        d="M43.21 0L86.11 45.9L86.54 107.27L332.02 375L278.81 375L86.54 163.31L86.54 375L43.27 375L43.21 0Z" 
        id="a100RdjNhc">
      </path>
    </defs>
    <g>
      <g>
        <g>
          <use class="secondaryColour"
            xlink:href="#a7jz5jMx" 
            opacity="1" 
            fill="#313332" 
            fill-opacity="1">
          </use>
          <g>
            <use 
                xlink:href="#a7jz5jMx" 
                opacity="1" 
                fill-opacity="0" 
                stroke="#000000" 
                stroke-width="0" 
                stroke-opacity="1">
            </use>
          </g>
        </g>
        <g>
          <use class="primaryColour" 
            xlink:href="#cp1JrukwI" 
            opacity="1" 
            fill="#fff200" 
            fill-opacity="1">
          </use>
          <g>
            <use 
                xlink:href="#cp1JrukwI" 
                opacity="1" 
                fill-opacity="0" 
                stroke="#000000" 
                stroke-width="0" 
                stroke-opacity="1">
            </use>
          </g>
        </g>
        <g>
          <use class="secondaryColour"
            xlink:href="#a100RdjNhc" 
            opacity="1" 
            fill="#313332" 
            fill-opacity="1">
          </use>
          <g>
            <use 
              xlink:href="#a100RdjNhc" 
              opacity="1" 
              fill-opacity="0" 
              stroke="#000000" 
              stroke-width="0" 
              stroke-opacity="1">
            </use>
          </g>
        </g>
      </g>
    </g>
  </svg>
<!-- </div> -->